In [2]:
import pandas as pd
import numpy as np

In [4]:
ww = pd.read_csv('water.txt', sep = '\t')

In [5]:
ww.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [6]:
ww_c = ww.corr()

In [8]:
ww_c

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [7]:
round(ww_c['hardness']['mortality'], 4)

-0.6548

In [9]:
ww_c2 = ww.corr(method = 'spearman')

In [10]:
round(ww_c2['hardness']['mortality'], 4)

-0.6317

In [12]:
ww_n = ww[ww['location']=='North']
ww_s = ww[ww['location']=='South']

In [14]:
max(round(ww_n.corr()['hardness']['mortality'], 4), round(ww_s.corr()['hardness']['mortality'], 4))

-0.3686

In [15]:
# 1 = есть хуй // 1 = пьет
a = 718 #0/0
b = 203
c = 515
d = 239

In [16]:
matt = (a * d - b * c) / np.sqrt((a + b) * (a + c) * (b + d) * (c + d))

In [18]:
round(matt, 3)

0.109

In [19]:
from scipy import stats

In [23]:
AA = np.array([[a,b],[c,d]])

In [25]:
stats.chi2_contingency(AA)

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[677.96597015, 243.03402985],
        [555.03402985, 198.96597015]]))

In [28]:
girls = np.array(1 if i < a else 0 for i in np.arange(a+b))

In [43]:
gg = [a,b]

In [44]:
bb = [c,d]

In [45]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = stats.norm.ppf(1 - alpha / 2.)

    p1 = sample1[0] / np.sum(sample1)
    p2 = sample2[0] / np.sum(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ np.sum(sample1) + p2 * (1 - p2)/ np.sum(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ np.sum(sample1) + p2 * (1 - p2)/ np.sum(sample2))
    
    return (left_boundary, right_boundary)

In [47]:
proportions_diff_confint_ind(gg, bb)

(0.053905233215813156, 0.13922183141523897)

In [48]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = np.sum(sample1)
    n2 = np.sum(sample2)
    
    p1 = sample1[0] / n1
    p2 = sample2[0] / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [49]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - stats.norm.cdf(z_stat)

In [52]:
proportions_diff_z_test(proportions_diff_z_stat_ind(gg, bb))

8.153453089576601e-06

In [53]:
happiness = np.array( [[197., 111., 33. ],
                       [382., 685., 331.],
                       [110., 342., 333.]] )

In [54]:
stats.chi2_contingency(happiness)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [55]:
def cramers_stat(confusion_matrix):
    chi2 = stats.chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum()
    return np.sqrt(chi2 / (n*(min(confusion_matrix.shape)-1)))

In [56]:
cramers_stat(happiness)

0.2412013934500338